---
---

@import "{{ site.theme }}";


body{
    background: #f0eff1;
}

.markdown-body{
    img{
        vertical-align: bottom;
    }

    .red-round{
        background: #c92421;
        display: inline-flex;
        aspect-ratio: 1;
        border-radius: 50%;
        width: 1.5em;
        color: white;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: -1em 0;
    }

    ul,  ol {
        padding-left: 1.1em;
    }

    ol ::marker {
        font-weight: bold;
    }

    li+li{
        margin-top: 16px;
    }

    ul ul, ul ol, ol ol, ol ul{
        margin-top: 16px;
    }
}