---
---

@import "{{ site.theme }}";


body{
    background: #d6d6d6;
}

.markdown-body{
    max-width: 800px;
    background: #f0eff1;
    padding: 30px 40px !important;

    h1, h2 {
        border-bottom-color: #d9d9d9
    }

    ul,  ol {
        padding-left: 1.6em;
    }

    ol ::marker {
        font-weight: bold;
    }

    li+li{
        margin-top: 0.5em;
    }

    ul ul, ul ol, ol ol, ol ul{
        margin-top: 0.5em;
    }

    img{
        vertical-align: bottom;
        background: transparent;
    }
    hr{
        height: 1px;
        background-color: #d9d9d9;
    }

    .red-round{
        background: #c92421;
        display: inline-flex;
        aspect-ratio: 1;
        border-radius: 50%;
        width: 1.8em;
        color: white;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: -1em 0;
        font-style: normal;
        font-weight: normal;
    }
}